<p>
  tradepile works!
</p>
<button (click) = "getTradePile()">Get Trade Pile</button>

<div class = "trade-pile" (focus) = "getTradePile()">
<div *ngFor="let card of tradepile?.auctionInfo">
<div class ="card">
  <div class = "{{card?.playerInfo?.color}}">
    <div class = "rating">
      <p>{{card?.playerInfo?.rating}}</p>
    </div>
    <div class = "position">
      <p>{{card?.playerInfo?.position}}</p>
    </div>
    <img src = "https://fifa17.content.easports.com/fifa/fltOnlineAssets/CC8267B6-0817-4842-BB6A-A20F88B05418/2017/fut/items/images/players/html5/120x120/{{card.itemData.assetId}}.png">
    <p>{{card?.playerInfo?.lastName}}</p>
</div>
</div>
</div>
</div>
